.mapContainer {
    position: relative;
    height: 100vh;
    width: 100%;
}

.mapButton {
    position: absolute;
    left: 10px;
    z-index: 1000;
    margin-top: 10px;
}

.mapButton.start {
    background-color: #2196F3;
    color: white;
    position: absolute;
    bottom: 160px;
    left: 50%;
    font-size: 4em;
    height: 120px;
    width: 300px;
    transform: translateX(calc(-50% - 155px))
}

.mapButton.stop {
    background-color: #f44336;
    color: white;
    position: absolute;
    bottom: 160px;
    left: 50%;
    font-size: 4em;
    height: 120px;
    width: 300px;
    transform: translateX(calc(-50% - 155px))
}

.mapButton.info {
    background-color: #4CAF50;
    color: white;
    position: absolute;
    bottom: 160px;
    left: 50%;
    font-size: 4em;
    height: 120px;
    width: 300px;
    transform: translateX(calc(-50% + 155px))
}

.mapButton.mapView {
    background-color: #ffeb3b;
    color: black;
    position: absolute;
    bottom: 30px;
    left: 50%;
    font-size: 4em;
    height: 120px;
    width: 300px;
    transform: translateX(calc(-50% - 155px))
}

.mapButton.link {
    background-color: #9c27b0;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 50%;
    font-size: 4em;
    height: 120px;
    width: 300px;
    transform: translateX(calc(-50% + 155px))
}
