.mapContainer {
    position: relative;
    height: 100vh;
    width: 100%;
}

.mapButton {
    position: absolute;
    left: 10px;
    z-index: 1000;
    margin-top: 10px;
}

.mapButton.start {
    background-color: #2196F3;
    color: white;
    position: absolute;
    bottom: 160px;
    left: 50%;
    font-size: 4em;
    height: 120px;
    width: 300px;
    transform: translateX(calc(-50% - 155px));
    box-shadow: 0 7px rgba(0, 0, 255);
}

.mapButton.start:hover {
    background-color: #1565C0;
}

.mapButton.start:active {
    box-shadow: none;
    bottom: 153px;
}

.mapButton.stop {
    background-color: #f44336;
    color: white;
    position: absolute;
    bottom: 160px;
    left: 50%;
    font-size: 4em;
    height: 120px;
    width: 300px;
    transform: translateX(calc(-50% - 155px));
    box-shadow: 0 7px #5a1813;
}

.mapButton.stop:hover {
    background-color: #b71c1c;
}

.mapButton.stop:active {
    box-shadow: none;
    bottom: 153px;
}

.mapButton.info {
    background-color: #4CAF50;
    color: white;
    position: absolute;
    bottom: 160px;
    left: 50%;
    font-size: 4em;
    height: 120px;
    width: 300px;
    transform: translateX(calc(-50% + 155px));
    box-shadow: 0 7px #204921;
}

.mapButton.info:hover {
    background-color: #388e3c;
}

.mapButton.info:active {
    box-shadow: none;
    bottom: 153px;
}

.mapButton.mapView {
    background-color: #ffeb3b;
    color: black;
    position: absolute;
    bottom: 30px;
    left: 50%;
    font-size: 4em;
    height: 120px;
    width: 300px;
    transform: translateX(calc(-50% - 155px));
    box-shadow: 0 7px #5e5615;
}

.mapButton.mapView:hover {
    background-color: #fbc02d;
}

.mapButton.mapView:active {
    box-shadow: none;
    bottom: 23px;
}

.mapButton.link {
    background-color: #9c27b0;
    color: white;
    position: absolute;
    bottom: 30px;
    left: 50%;
    font-size: 4em;
    height: 120px;
    width: 300px;
    transform: translateX(calc(-50% + 155px));
    box-shadow: 0 7px #3c0f44;
}

.mapButton.link:hover {
    background-color: #7b1fa2;
}

.mapButton.link:active {
    box-shadow: none;
    bottom: 23px;
}
